<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Prizes for ESAMarathons events" />
    <title>@ViewData["Title"] - ESAPrizes</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/theme.css" />
</head>
<body>
    <header id="top">
        <h1>
            ESA Prizes
        </h1>
        <nav>
            @RenderSection("Navigation", required: false)
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    
    <a href="#grand_prize" class="jump-button" >Back to Top</a>

    <footer>
        &copy; @DateTime.Now.Year - European Speedrunner Marathon and Zephyyrr
    </footer>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
