@model Prize
@inject SizeSelectionService Sizer

<div class="prize @Sizer.GetSize(Model)">
    <h3>
        @Html.DisplayFor( m => m.Name )
    </h3>

    @Html.DisplayFor( m => m.Image )


    <div class="data">
        @if (Model.MinimumBid != null)
        {
            <span>
                Min. donation: @Html.DisplayFor( m => m.MinimumBid )
            </span>
        } else if (Model.EstimatedValue != null) 
        {
            <span>
                Est. value: @Html.DisplayFor( m => m.EstimatedValue )
            </span>
        }
    </div>

    <p>
        @Html.DisplayFor( m => m.Description )
    </p>
</div>