@model Prize
@inject SizeSelectionService Sizer

<div class="prize @Sizer.GetSize(Model)">
    <h3>
        @Html.DisplayFor( m => m.Name )
    </h3>

    @Html.DisplayFor( m => m.Image )


    <div class="data">
        @if (Model.MinimumBid != null)
        {
            <div title="Minimum donation">
                <label>Min.&nbsp;donation:</label> @Html.DisplayFor( m => m.MinimumBid )
            </div>
        } 
        
        @if (Model.EstimatedValue != null) 
        {
            <div title="Estimated value">
                <label>Est.&nbsp;value:</label> @Html.DisplayFor( m => m.EstimatedValue )
            </div>
        }
    </div>

    <p>
        @Html.DisplayFor( m => m.Description )
    </p>
</div>